{
    "rules": {
        "indent": [
            2,
            "space"
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "camelcase": [
            2,
            {"properties": "never"}
        ],
        "react/jsx-indent-props": [2, 2]
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "extends": ["xo", "xo-react"],
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true
    },
    "plugins": [
        "react"
    ]
}
